<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="bg-gray-100">
    <header class="base_header">
        <div class="logo">
            <img src={% static 'images/logo.png'%} alt="Logo"> 
        </div>
        <div class="pic">
            <a href="{% url 'profile' %}" >
            {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
            <img src={% static "images/def_pro_icon.png" %} alt="profile pic" >
            {% endif %} </a>
        <div>

    </header>

    <!-- Base Layout with Left Navigation -->
    <div class="flex h-700">

        <!-- Left Navigation Bar -->
        <aside class="" id="sidebar">
            <!-- Navigation Links -->
            <nav class="flex flex-col space-y-4 text-lg">
                <a href="{% url 'dashboard' %}" class="hover:bg-blue-700 p-2 rounded">Dashboard</a>
                <a href="{% url 'profile' %}" class="hover:bg-blue-700 p-2 rounded">Profile</a>
                <a href="{% url 'generate_timetable' %}" class="hover:bg-blue-700 p-2 rounded">My Timetable</a>
                <a href="{% url 'login' %}" class="hover:bg-blue-700 p-2 rounded">Logout</a>
            </nav>
        </aside>

        <!-- Main Content Area -->
        <main class="flex-1 p-8">
            {% block content %}
            {% endblock %}
        </main>

    </div>
    <footer class="footer">
        <p>© 2024 Holiday timetable | All Rights Reserved.</p>
    </footer>


</body>
</html>
