{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Timetable | Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
   
<body class="bg-gray-100 min-h-screen font-sans">
    <div contain>
        <main  id="main">
            <div class="bg-white rounded-lg  p-6 h-full flex flex-row justify-between">
                    <div class="profile_details">
                        <h2>Profile Details</h2>
                        <div class="initials">
                            <p><strong>Name:</strong> {{ profile.full_name }}</p>
                            <p><strong>Level of Education:</strong> {{ profile.level_of_education }}</p>
                            <p><strong>School:</strong> {{ profile.school_name }}</p>
                        </div>
                    </div>
            </div>
           
        </main>
        <div class="calender_container">
            <div>
                <h2 class="text-2xl font-semibold text-red-800 mb-2">Calendar</h2>
                <div class="overflow-auto">
                    <div class="calendar">
                        {{ month_calendar|safe }}  <!-- Render the custom HTML calendar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
