{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday timetable | User Profile</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script>  {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

</head>
<body class="bg-gray-100">

<div class="">         
    <div class="">
        <div class="">
            <h2 class="my">My Profile</h2>
        </div>

        <!-- Profile Details -->
        <div id="profile-details" class="p-6">
            <div class="flex items-center mb-4">
                <strong>profile picture:</strong>
                {% if form.instance.profile_picture %}
                <img src="{{ form.instance.profile_picture.url }}" alt="Profile Picture" class="rounded-full w-24 h-24 border border-gray-300 shadow-md">
                {% else %}
                <img src={% static "images/def_pro_icon.png" %} alt="profile pic"  class="rounded-full w-32 h-32 border border-gray-300 shadow-md mr-4">
                {% endif %}
            </div>
            <p class="mr-4"><strong>Full Name:</strong> {{ form.instance.full_name }}</p>
            <p class="text-lg text-gray-700"><strong>Level of Education:</strong> {{ form.instance.level_of_education }}</p>
            <p class="text-lg text-gray-700"><strong>School Name:</strong> {{ form.instance.school_name }}</p>
        </div>

        <!-- Button to Edit Profile -->
        <div id="button" class="flex justify-center mb-6">
            <button id="edit-profile-btn" class="bg-red-600 text-white font-semibold py-2 px-4 rounded hover:bg-red-700 transition duration-300">Edit Profile</button>
        </div>

        <!-- Edit Profile Form (Initially Hidden) -->
        <div id="edit-profile-form" style="display: none;" class="bg-gray-50 p-6 rounded-lg shadow-md">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="flex justify-between mt-4">
                    <button type="submit" class="bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Update Profile</button>
                    <button type="" id="cancel-edit-btn" class="bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-400 transition duration-300">Cancel</button>
                </div>
            </form>
        </div>

        <!-- JavaScript to Handle Form Display -->
       <script src="{% static 'js/profile.js' %}"></script>
    </div>
</div>

</body>
</html>
{% endblock %}